window-rule {
    match app-id=r#"^firefox$"# title=r#"^Picture-in-Picture$"#
    open-floating true
}

window-rule {
    geometry-corner-radius 12
    clip-to-geometry true
}

window-rule {
    match app-id=r#"^thunar$"# title=r#"^File Operation Progress$"#
    open-floating true
}

window-rule {
    match app-id=r#"^org\.gnome\.Nautilus$"# title=r#"Oops! Something went wrong\."#
    open-floating true
}
window-rule {
    match app-id="" title=r#"^Task Manager - Vivaldi$"#
    default-floating-position x=0 y=0 
    default-column-width {}
    default-window-height {fixed 500;}
    open-floating true
}
window-rule {
    match app-id="KittyFloat"
    default-floating-position x=10 y=20 relative-to="bottom-right"
    default-window-height { proportion 0.45; }
    default-column-width { proportion 0.35; }
    open-floating true
}
window-rule {
    match app-id=r#"^org\.gnome\.Nautilus$"# title=r#"^Open Folder$"#
    open-floating true
}
window-rule {
    match app-id=r#"^it\.mijorus\.smile"#
    default-floating-position x=20 y=20 relative-to="bottom-right"
    default-window-height { proportion 0.1; }
    default-column-width { proportion 0.1; }
    open-floating true
}

window-rule {
    match title=r#"^Task Manager - Vivaldi$"#
    default-floating-position x=0 y=0
    default-window-height { proportion 0.6; }
    default-column-width { proportion 0.4; }
    open-floating true
}

window-rule {
    match app-id=r#"^zoom$"#
    exclude title=r#"^Zoom Workplace\.\*"#
    open-floating true
}

window-rule {
    match app-id=r#"^thunar|Thunar$"# title=r#"^Rename"#
    open-floating true
}

